<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/highkgao/votedb/UserInfoMapper.xml"/>
        <mapper resource="com/highkgao/votedb/VoteThemeDOMapper.xml"/>
        <mapper resource="com/highkgao/votedb/VoteItemDOMapper.xml"/>
        <mapper resource="com/highkgao/votedb/ThirdUserInfoDOMapper.xml"/>
    </mappers>
</configuration>
